<ul class="aside-nav">
	<li>文章</li>
	<li <% if(adminNav==1){%>class="active"<%}%>><a href="/admin/kind">分类列表</a></li>
	<li <% if(adminNav==2){%>class="active"<%}%>><a href="/admin/kind/edit">新增编辑分类</a></li>
    <li <% if(adminNav==3){%>class="active"<%}%>><a href="/admin/article">文章列表</a></li>
	<li <% if(adminNav==4){%>class="active"<%}%>><a href="/admin/article/edit">新增编辑分类</a></li>
    <li <% if(adminNav==5){%>class="active"<%}%>><a href="/admin/app">APP列表</a></li>
	<li <% if(adminNav==6){%>class="active"<%}%>><a href="/admin/app/edit">新增编辑APP</a></li>
	
</ul>