<nav class="navbar">
	<article class="grid">
		<ul class="nav">
			<!--<li <% if(currNav==1){%>class="active"<%}%>><a href="#">网站UI</a></li>
			<li <% if(currNav==2){%>class="active"<%}%>><a href="#">活动主题</a></li>
			<li <% if(currNav==3){%>class="active"<%}%>><a href="/widget">组件库</a></li>
			<li <% if(currNav==4){%>class="active"<%}%>><a href="/subject">快照馆</a></li>-->
			<li <% if(currNav==5){%>class="active"<%}%>><a href="/admin">后台</a></li>
		</ul>
		<a class="brand" href="/index.html">Uzai F2E</a>
	</article>
</nav>